Repository alunduil/template.hs: changes, and which pre-commit hooks are due for each by the changed paths.
All: haskell-ci regenerate, cabal check, cabal-fmt

haskell-ci regenerate:
  name: haskell-ci regenerate
  entry: haskell-ci regenerate
  language: haskell
  additional_dependencies:
  - haskell-ci-0.16.3
  pass_filenames: false

cabal check:
  name: cabal check
  entry: cabal check
  language: system
  pass_filenames: false

cabal-fmt:
  name: cabal-fmt
  entry: cabal-fmt
  language: haskell
  additional_dependencies:
  - cabal-fmt-0.1.9
  args:
  - -i

Switch tested-with to stable version ranges.
  .github/workflows/haskell-ci.yml
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Update haskell-ci version in pre-commit.
  .pre-commit-config.yaml
Due: none

Update haskell-ci workflow.
  .github/workflows/haskell-ci.yml
Due: haskell-ci regenerate

Add text-2.0.1 support.
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Use NonEmpty for Git command output parsing.
  lib/initialise/Git.hs
Due: none

Conditionally add Exception instance for ParseError.
  lib/initialise/Cabal.hs
Due: none

Update CHANGELOG.
  CHANGELOG.md
Due: none

Add --cabal-project option.
  CHANGELOG.md
  lib/initialise/Cabal.hs
  lib/initialise/Configuration.hs
  lib/initialise/Defaults.hs
  templatise.cabal
  test/initialise/CabalGolden.hs
  test/initialise/ConfigurationSpec.hs
  test/initialise/DefaultsSpec.hs
  test/initialise/FileGolden.hs
  test/initialise/InitialiseSpec.hs
Due: haskell-ci regenerate, cabal check, cabal-fmt

Add support for Cabal-syntax-3.12.0.0.
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Bumping 2 dependencies
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Bump version to 0.1.3.0.
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Test with GHC 9.10 and deprecate 9.4
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Add support for bae 4.20
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Fix vale configuration
  .pre-commit-config.yaml
  .vale.ini
  README.md
Due: none

Bumping 1 dependency
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Switch Configuration to ApplicativeDo
  lib/initialise/Cabal.hs
  lib/initialise/Configuration.hs
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Bump version to 0.1.4.0
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Add tests covering changes to project structure.
  test/initialise/InitialiseSpec.hs
Due: none

Add Visual Studio Code debugging configuration.
  .devcontainer/devcontainer.json
  .vscode/.gitignore
  .vscode/launch.json
  .vscode/tasks.json
  CHANGELOG.md
  lib/initialise/File.hs
  lib/initialise/Initialiser/Initialisers.hs
  templatise.cabal
  test/initialise/InitialiseSpec.hs
Due: haskell-ci regenerate, cabal check, cabal-fmt

Add GitHub artefact attestation for sdist tarball
  .github/workflows/publish.yml
Due: none

Path conditions:
  haskell-ci regenerate: any of: (^.github/workflows/haskell-ci.yml$)|(\.cabal$)
  cabal check: any of: \.cabal$
  cabal-fmt: any of: \.cabal$, but not: \.golden\.cabal$
