Repository alunduil/template.hs: changes, and which pre-commit hooks are due for each by the changed paths.
All: haskell-ci regenerate, cabal check, cabal-fmt

haskell-ci regenerate:
  name: haskell-ci regenerate
  entry: haskell-ci regenerate
  language: haskell
  additional_dependencies:
  - haskell-ci-0.16.3
  pass_filenames: false

cabal check:
  name: cabal check
  entry: cabal check
  language: system
  pass_filenames: false

cabal-fmt:
  name: cabal-fmt
  entry: cabal-fmt
  language: haskell
  additional_dependencies:
  - cabal-fmt-0.1.9
  args:
  - -i

Remove GHC 9.4 testing.
  .github/workflows/haskell-ci.yml
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Bump version from 0.1.4.0 to 0.1.5.0
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Remove unused packages and make unused packages error
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Use a newer distribution for haskell-ci.
  .github/workflows/haskell-ci.yml
Due: haskell-ci regenerate

Add vale to devcontainer configuration.
  .devcontainer/devcontainer.json
Due: none

vale sync
  styles/RedHat/CaseSensitiveTerms.yml
  styles/RedHat/Contractions.yml
  styles/RedHat/Definitions.yml
  styles/RedHat/DoNotUseTerms.yml
  styles/RedHat/PascalCamelCase.yml
  styles/RedHat/PassiveVoice.yml
  styles/RedHat/RepeatedWords.yml
  styles/RedHat/SimpleWords.yml
  styles/RedHat/Spelling.yml
  styles/RedHat/TermsErrors.yml
  styles/RedHat/TermsSuggestions.yml
  styles/RedHat/TermsWarnings.yml
  styles/RedHat/UserReplacedValues.yml
  styles/RedHat/Using.yml
  styles/alex/Ablist.yml
  styles/alex/OCD.yml
  styles/alex/ProfanityLikely.yml
  styles/alex/ProfanityUnlikely.yml
  styles/alex/Race.yml
  styles/proselint/Needless.yml
  styles/proselint/Nonwords.yml
  styles/write-good/Weasel.yml
Due: none

Update changelog.
  CHANGELOG.md
Due: none

Bump version to 0.1.6.0.
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Refactor Configuration to Environment and Options.
  bin/initialise/Main.hs
  lib/initialise/Cabal.hs
  lib/initialise/Environment.hs
  lib/initialise/File.hs
  lib/initialise/Initialiser/Types.hs
  lib/initialise/Licence.hs
  lib/initialise/Options.hs
  templatise.cabal
  test/initialise/CabalGolden.hs
  test/initialise/ConfigurationSpec.hs
  test/initialise/FileGolden.hs
  test/initialise/InitialiseSpec.hs
  test/initialise/Main.hs
  test/initialise/OptionsSpec.hs
Due: haskell-ci regenerate, cabal check, cabal-fmt

Bumping 1 dependency
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Remove Git.root and use gitlib.
  .devcontainer/devcontainer.json
  lib/initialise/Cabal.hs
  lib/initialise/Git.hs
  templatise.cabal
  test/initialise/Hooks.hs
Due: haskell-ci regenerate, cabal check, cabal-fmt

Add support for Cabal-syntax-3.14.0.0.
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Create release 0.1.7.0.
  CHANGELOG.md
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Bumping 3 dependencies
  templatise.cabal
Due: haskell-ci regenerate, cabal check, cabal-fmt

Path conditions:
  haskell-ci regenerate: any of: (^.github/workflows/haskell-ci.yml$)|(\.cabal$)
  cabal check: any of: \.cabal$
  cabal-fmt: any of: \.cabal$, but not: \.golden\.cabal$
